.top-node {
    margin-right: 30px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

.add-btn {
    cursor: pointer;
    position: absolute;
    left: 93%;
    margin-top: -5px;
}
