<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="data.Name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button color="warn" (click)="onNoClick()" style="position: relative;right: 15px;" mat-flat-button>
        No Thanks
    </button>
    <button color="primary" [disabled]="!(data.Name || data.Description)" (click)="onEditClick()"  style="position: relative;left: 20px;" mat-flat-button>
        {{data.Component}}
    </button>
</div>
